:root {
  // BASE
  --font-family: 'PenumbraSansStd', sans-serif;

  // COLORS
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-blue: #0e3251;
  --color-dark-red: #681a17;
  --color-light-beige: #e6bd64;
  --color-dark-beige: #bc9665;
  --color-label: #dfdadd;
}
