.myBtn {
  width: 96%;
  height: 50px;
  margin: 15px auto;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  transition: 0.2s;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  background-color: var(--color-dark-blue);
  color: var(--color-label);

  &:hover {
    background-color: var(--color-dark-beige);
    color: var(--color-black);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #666666;
  }
}
